html {
    background-color: var(--oneColor);
    font-family: var(--mainFont);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

:root {
    --oneColor: #000814;
    --twoColor: #001D3D;
    --threeColor: #003566;
    --fourColor: #FFC300;
    --fiveColor: #FFD60A;

    --mainFont: 'Rubik', sans-serif;
}
body{
    width: 86%;
    overflow-x: hidden;
}

nav {
    height: 69px;
    width: 100%;
    background-color: --oneColor;
    color: var(--fourColor);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav .logo img{
    width: 3.4em;
}

nav .logo {
    align-items: center;
    justify-items: ;
}

nav ul {
    list-style: none;
    display: flex;
    width:fit-content;
    align-items: center;
}

nav > ul > li {
padding: 0 1em;
font-weight: bold;
}

.banner {
    width: 100%;
    height: 700px;
    display: flex;
    background-image: url('/Images/bannerEye.png');
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner > h1 {
    text-align: center;
    font-size: 4em;
    top: 3em;
    color: var(--fourColor);
    max-width: 8em;
    text-shadow: 1px 1px 2px black;
}

.banner button {
    background-color: var(--twoColor);
    color: var(--fiveColor);
    padding: 30px;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: bolder;
    border: none;
    box-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 479px){
    body {
        width: 100%;
    }

    .banner {
        background-repeat: no-repeat;
    
    }
}