html {
    background-color: var(--oneColor);
    font-family: var(--mainFont);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

:root {
    --oneColor: #000814;
    --twoColor: #001D3D;
    --threeColor: #003566;
    --fourColor: #FFC300;
    --fiveColor: #FFD60A;

    --mainFont: 'Rubik', sans-serif;
}
body{
    width: 86%;
    overflow-x: hidden;
}

nav {
    height: 69px;
    width: 100%;
    background-color: --oneColor;
    color: var(--fourColor);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav .logo img{
    width: 3.4em;
}

nav .logo {
    align-items: center;
    justify-items: ;
}

nav ul {
    list-style: none;
    display: flex;
    width:fit-content;
    align-items: center;
}

nav > ul > li {
padding: 0 1em;
font-weight: bold;
}

.banner {
    width: 100%;
    height: 700px;
    display: flex;
    background-image: url('https://imbruglia100.github.io/TrueEye/Images/bannerEye.png');
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner > h1 {
    text-align: center;
    font-size: 4em;
    top: 3em;
    color: var(--fourColor);
    max-width: 8em;
    text-shadow: 1px 1px 2px black;
}

.banner button {
    background-color: var(--twoColor);
    color: var(--fiveColor);
    padding: 30px;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: bolder;
    border: none;
    box-shadow: 1px 1px 2px black;
}


.features {
    display: flex;
    margin: 50px 0;
    padding: 50px 0;
    grid-gap: 3vw;
    border-top: 1px solid gray;
}

.features .featureBox {
    border-radius: 10px;
    display: flex;
    height: fit-content;
    max-width: fit-content;
    flex-direction: column;
    text-align: center;
    font-family: var(--mainFont);
    color: lightgray;
    font-weight: bold;
    line-height: 1.6em;
}

.featureBox .title {
    font-size: 2em;
    border-bottom: 1px solid var(--fourColor);
    width:fit-content;
    margin: 1em auto 0 auto;
}

.featureBox .info {
    width: 20px;
    height: fit-content;
    white-space: nowrap;
}

.charity{
    display: flex;
    margin: 0 50px;
    border-top: 1px solid lightgray;
    margin: 50px 0;
    padding: 50px 0;
}

.charity .aao{
    width: 50vw;
    min-height: 100px;
    background-image: url('https://imbruglia100.github.io/TrueEye/Images/AAO-logo.png');
    background-size:contain;
    background-repeat: no-repeat;
    
}

.charityHead , .charityInfo {
    color: lightgray;
    text-align: right;
}

.charityInfo {
    width: 35vw;
    text-align: right;
    float:right;
}

@media screen and (max-width: 479px){
    body {
        width: 100%;
    }

    .banner {
        background-repeat: no-repeat;
    
    }

    .features {
        flex-direction: column;
    }

    .charity {
        flex-direction: column;
        justify-content: center;
    }
    .charityInfo{
        float:none;
        margin: 0 auto;
        text-align: center;
        width: 60vw;
    }

    .charityHead {
        text-align: center;
    }

    .aao {
        margin: 0 auto;
    }
 
}